.Editor-container {
    width: 960px;
}

.Editor-editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    border: var(--darkgrey) 3px solid;
    background-color: var(--white);
    padding: var(--m);
    margin: 0 auto;
    margin-bottom: var(--l);
}

.Editor-subcontainer {
    grid-column: 2;
    grid-row: 1 / 3;
}

.Editor-fractal {
    grid-column: 1;
    grid-row: 1;
}

.Editor-buttonpanel {
    grid-column: 2;
    grid-row: 2;
    width: auto;
    height: auto;
    background-color: black;
}

.Editor-renderbutton {
    width: 100%;
    font-family: inherit;
}

.Editor-resetbutton {
    width: 50%;
    font-family: inherit;
}

.Editor-singleparam {
    width: auto;
    justify-content: space-between;
}