.SinglePost-container {
    border: var(--darkgrey) 3px solid;
    background-color: var(--white);
    padding: var(--m);
    margin: 0 auto;
    margin-bottom: var(--l);

    width: 800px;
}

.SinglePost-title {
    font-size: 14pt;
}