.GradientEditor-container {
    grid-column: 1;
    grid-row: 2;
}

.GradientEditor-gradient {
    width: auto;
    height: 30px;
    margin-bottom: 10px;
}

.GradientEditor-subcontainer {
    justify-content: space-between;
    width: auto;
}

.GradientEditor-color {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;
}

.GradientEditor-iterinput {
    width: 40px;
    height: 18px;
    border-radius: 0px 7px 7px 0px;    
}

.GradientEditor-wrapper {
    border-radius: 7px 0px 0px 7px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: auto;
}